<div class="card bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label form="descProvincia">Descripcion</label>
                <input type="text" name="descProvincia" class="form-control">
            </div>
            <br>
            <div class="form-group">
                <button type="button" class="btn btn-primary">Crear</button>
            </div>
        </form>
    </div>
</div>
